.timer {
    font-weight: normal;
    font-size: 134px;
    font-family: sans-serif;
}

.scramble {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 40px;
    color: grey;
}

.grid {
    font-weight: bold;
    font-size: 12px;
    color: grey;
    padding: 6px;
    border-radius: 10px;
    background-color: #222226;
}

.scores-column-view {
    border-radius: 10px;
}
