.timer-large {
    font-size: 125px;
}

.timer-medium {
    font-size: 90px;
}

.timer-small {
    font-size: 70px;
}

.scramble {
    font-size: 40px;
    color: grey;
}

.grid {
    font-weight: bold;
    font-size: 12px;
    color: grey;
    padding: 6px;
    border-radius: 10px;
    background-color: #222226;
}

.scores-column-view {
    border-radius: 10px;
}
