on:
  workflow_dispatch:
name: CI
jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: palette.flatpak
        manifest-path: io.github.vallabhvidy.CubeTimer.json
        cache-key: flatpak-builder-${{ github.sha }}

    - run: |
        flatpak-builder-lint manifest io.github.vallabhvidy.CubeTimer.json
        flatpak-builder-lint repo repo
    - run: flatpak run --command=flathub-build org.flatpak.Builder --install io.github.vallabhvidy.CubeTimer.json
